<a href="https://colab.research.google.com/github/ahmadalam098/Artificial-Intelligence/blob/main/AI_Lab_01_Ahmad_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 01: check if a number is prime.**

In [2]:
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 8
8 is not a prime number

**Exercise 02: list of 10 numbers and print their average**

In [3]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
average = sum(numbers) / len(numbers)
print("Average:", average)

Average: 55.0

**Exercise 03: Store student names and marks in a dictionary and display the topper**

In [5]:
students = {"Ali": 85, "Anas": 92, "Umer": 78, "Ahmad": 95}
topper = max(students, key=students.get)
print("Topper is:", topper, "with marks:", students[topper])

Topper is: Ahmad with marks: 95

**Exercise 04: Demonstrate set operations: union, intersection, difference**

In [6]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference (A - B):", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (A - B): {1, 2}

**Exercise 05: Write a function to compute factorial using recursion.**

In [7]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

num = 5
print("Factorial of", num, "is", factorial(num))

Factorial of 5 is 120

**Exercise 06: Use a for loop to print the Fibonacci series up to n terms**

In [8]:
n = int(input("Enter number of terms: "))
a, b = 0, 1

print("Fibonacci series:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 7
Fibonacci series:
0 1 1 2 3 5 8

**Exercise 07: Read a string and count the number of vowels.**

In [9]:
text = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = sum(1 for char in text if char in vowels)
print("Number of vowels:", count)

Enter a string: Ahmad
Number of vowels: 2

**Exercise 08: Create a tuple of numbers and find the maximum and minimum.**

In [10]:
numbers = (10, 25, 3, 99, 56, 7)
print("Maximum:", max(numbers))
print("Minimum:", min(numbers))

Maximum: 99
Minimum: 3

**Exercise 09: Create a tuple of numbers and find the maximum and minimum.**

In [11]:
text = input("Enter a string: ")
print("Reversed string:", text[::-1])

Enter a string: Ahmad
Reversed string: damhA